rx_ofdm_vhd/sim/modelsim.sh

/cnn/src/grpCache/syn/.qsys_edit
*.aux
*.synctex.gz
*.out

*.bak

*.o

vunit_out/

db/
incremental_db/
output_files/

output/
*.map.*


obj/
synthesis/
.qsys_edit/

HAL/

*.a
*.x
*.gdb
*.bsp
*.map
*.elf
*.objdump

work/


.hdl_checker/
.vscode/

mem_init/

*~

#simulation/
nios_system/
nios_system
bsp/

_hdl_checker/

~$*.xlsx

*_description.txt

nios_qsys_system/

*.wlf
transcript
*.dat
*.mif
*.ver
modelsim.ini
libraries/

MapPathToDrive.bat


*.swp


*.vstf
*.qws


*.vstf
*.qws

*.sopcinfo

c5_pin_model_dump.txt

*.log
*.toc
*.bbl
*.blg
*.synctex

src/grpDDR3Access/unitReadWriteDDR3/sim/DDR3ModelTest/temp
src/grpDDR3Access/unitReadWriteDDR3/sim/QsysSystem/testbench/
src/grpDDR3Access/unitDDR3Model/mentor

!/src/grpCache/unitTbdCache/sim/input.hex
test_hdl.csv
test_keras.csv
.#*
#*.vhd#

# MATLAB
*.asv

rx_ofdm_vhd/sim/#comp_ip-fft.do#
rx_ofdm_vhd/sim/eda.rar
rx_ofdm_vhd/sim/eda/
rx_ofdm_vhd/sim/fft_in132.txt
rx_ofdm_vhd/sim/fft_ofdm_fft_ii_0_opt_twi1.hex
rx_ofdm_vhd/sim/fft_ofdm_fft_ii_0_opt_twi2.hex
rx_ofdm_vhd/sim/fft_ofdm_fft_ii_0_opt_twi3.hex
rx_ofdm_vhd/sim/fft_ofdm_fft_ii_0_opt_twr1.hex
rx_ofdm_vhd/sim/fft_ofdm_fft_ii_0_opt_twr2.hex
rx_ofdm_vhd/sim/fft_ofdm_fft_ii_0_opt_twr3.hex
rx_ofdm_vhd/src/vhd/beh/rx_fft-beh-a - Copy (2).vhd
rx_ofdm_vhd/src/vhd/beh/rx_fft-beh-a - Copy.vhd
rx_ofdm_vhd/src/vhd/beh/#rx_fft-beh-a.vhd#


transcript